h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#home, #dashboard { 
    background-color: #2C2C2C;
    font-family: 'Inter', sans-serif;
    padding: 50px 30px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search {
    display: flex;
    align-items: center;
}

.searchbar {
    box-sizing: border-box;
    width: 601px;
    height: 45px;
    background-color: #DADADA;
    border-radius: 20px;
    font-weight: 350;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.searchbar {
    box-sizing: border-box;
    width: 601px;
    height: 45px;
    background-color: #F5F5F5; /* Light background for a clean look */
    border: 1px solid #DADADA; /* Subtle border */
    border-radius: 20px;
    font-weight: 350;
    font-size: 18px;
    margin: 10px;
    padding: 10px 15px; /* Add padding for better spacing */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover and focus effects */
}

/* Hover effect */
.searchbar:hover {
    background-color: #FFFFFF; /* Slightly brighter background */
    border-color: #8D80AD; /* Highlight border */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Enhance shadow */
}

/* Focus effect */
.searchbar:focus {
    outline: none; /* Remove default outline */
    border-color: #8D80AD; /* Highlight border on focus */
    box-shadow: 0px 6px 8px rgba(141, 128, 173, 0.4); /* Add a colored shadow */
}

/* Placeholder text styling */
.searchbar::placeholder {
    color: #A0A0A0; /* Subtle placeholder text color */
    font-style: italic; /* Make placeholder text italic */
}

.search-icon {
    width: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.search-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
    cursor: pointer;
}

/* Filters container */
.filters-container {
    position: relative;
    display: inline-block;
}

/* Filters dropdown menu */
.filters-dropdown {
    display: none; /* Hidden by default */
    position: absolute;
    top: 40px; /* Adjust based on your layout */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 80px;
}

.center-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Dropdown items */
.filters-dropdown label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* Checkbox styling */
.filter-checkbox {
    margin-right: 5px;
}

/* Show dropdown when active */
.filters-dropdown.active {
    display: block;
}

.filters-done-button {
    display: block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #1F9100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.filters-done-button:hover {
    background-color: #146600; /* Darker shade for hover effect */
}

.filter-icon {
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.filter-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon */
    opacity: 0.8; /* Reduce opacity for hover effect */
}

/* Date Posted container */
.date-posted {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    white-space: nowrap;
}

/* Label for Date Posted dropdown */
.date-posted label {
    font-size: 20px;
    font-weight: medium;
    color: #8D80AD;
}

/* Dropdown styling */
.date-posted select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.date-posted select:focus {
    border-color: #1F9100; /* Green border on focus */
    outline: none;
}

.my-jobs-button {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
    padding: 10px;
    border-radius: 5px;
}

.my-jobs-button:hover {
    background-color: #8e8e8e; /* Light gray background on hover */
}

.person-icon {
    width: 40px;
}

.cards-container {
    margin-top: 40px;
}

.job-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-card {
    width: 723px;
    background-color: #99B2DD;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

    overflow: hidden;
    transition: height 0.5s ease;
    height: 272px;
}

.job-card.expanded, .job-card.expanded .job-card-left {
    height: auto; /* Allow height to expand */
}

.job-card.expanded .job-title {
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Allow full content to be visible */
    text-overflow: unset; /* Remove ellipsis */
}

.job-card.expanded .job-location {
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Allow full content to be visible */
    text-overflow: unset; /* Remove ellipsis */
    max-width: none; /* Remove width limitation */
}

.job-card.expanded .job-description {
    margin-top: 20px;
    display: block; /* Ensure the description is fully visible */
    overflow: visible; /* Allow full content to be visible */
    text-overflow: unset; /* Remove ellipsis */
    -webkit-line-clamp: unset; /* Disable line clamping */
    -webkit-box-orient: unset; /* Reset box orientation */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    word-wrap: break-word; /* Break long words to prevent overflow */
}

.toggle-icon {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth rotation and opacity transition */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
}

.toggle-icon:hover {
    opacity: 0.7; /* Reduce opacity to make it visually distinct */
}

.toggle-icon.open {
    transform: rotate(180deg); /* Rotate the icon 180 degrees */
}

.job-card-details {
    display: flex;
    width: 686px;
}

.job-card-left {
    min-width: 445px;
    width: 445px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
}

.job-title {
    font-weight: 500;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.job-description {
    display: -webkit-box;
    -webkit-line-clamp: 12; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.job-card-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;

    position: relative;
}

.redirect-icon {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth scaling and opacity transition */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
}

.redirect-icon:hover {
    opacity: 0.8; /* Slightly reduce opacity to make it visually distinct */
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* .job-card-right-top {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.job-card-left-top {
    display: flex;
    width: 100%;
}

.applied-icon-container {
    display: flex;
    align-items: center; /* Center vertically */
    margin-right: 3px;
    height: 100%; /* Ensure it takes the full height of the parent container */
}

.applied-icon-button {
    background-color: transparent; /* Remove default button background */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center; /* Center the icon vertically */
}

.applied-icon-button img {
    transition: transform 0.2s ease; /* Add a hover effect */
}

.applied-icon-button:hover img {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.save-job-container {
    position: absolute;
    width: 100%;
}

.save-job-button {
    padding: 4px 12px;
    font-size: 14px;
    color: white;
    background-color: #267529; /* Green background */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
}

.save-job-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.save-job-button:disabled {
    background-color: #ccc; /* Gray background for disabled state */
    cursor: not-allowed;
}

.saved_icon {
    float: right;
}

.company-container {
    display: flex;
    align-items: flex-end;
}

.company-name {
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.job-location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
    margin-top: 5px;
}

.job-location, .date-posted-p-tag {
    font-size: 12px;
}

.job-label {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.remote, .hybrid, .job-type-ft, .job-type-pt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remote, .hybrid {
    width: 51px;
    height: 19px;
    border-radius: 4px;
    margin-top: 5px;
}

.remote {
    background-color: #1F9100;
}

.hybrid {
    background-color: #F7AD00;
}

.job-type-ft, .job-type-pt {
    width: 69px;
    height: 19px;
    border-radius: 4px;
}

.job-type-ft {
    background-color: #00CAF7;
}

.job-type-pt {
    background-color: #2420FF;
}

.load-more-container {
    text-align: center;
    margin: 20px 0;
}

.load-more-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.load-more-button:hover {
    background-color: #0056b3;
}

.no-jobs-message {
    text-align: center;
    color: #555;
    font-size: 16px;
    margin-top: 20px;
}

/* Popup container */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it appears above other elements */
}

/* Popup content */
.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-button-container{
    position: absolute;
    width: 90%;
}

/* Close button */
.close-button {
    float: right;
    cursor: pointer;
}

/* Popup heading */
.popup-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

/* Popup description */
.popup-content p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

/* Input field */
.popup-content input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button */
.submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Code input container */
.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Individual code input box */
.code-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.code-input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0px 6px 8px rgba(0, 123, 255, 0.4);
}

/* ------------------------------------------------------------ */
/* User Dashboard */

#dashboard .filters-container, #dashboard .date-posted, #dashboard .my-jobs-button {
    display: none;
}

#dashboard .top-bar-left {
    width: 100%;
}

.tabs-container {
    margin-top: 20px;
}

.tabs-buttons {
    display: flex;
    border-bottom: 2px solid #4CAF50;
}

.tab-button {
    color: #E0E0E0;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: bold;
    transition: border-bottom-color 0.3s ease;
}

.tab-button.active {
    color: #4CAF50;
}

.tab-content {
    margin-top: 20px;
}

/* Data Grid Styling */
.data-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    background-color: #ddd;
}

.data-grid th, .data-grid td {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-grid th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.data-grid tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for alternating rows */
}

.data-grid tr:hover {
    background-color: #e8e8e8; /* Highlight row on hover */
}

.data-grid a {
    color: #007BFF;
    text-decoration: none;
}

.data-grid a:hover {
    text-decoration: underline;
}

.data-grid input[type="checkbox"]:disabled {
    opacity: 1; /* Ensure disabled checkboxes are fully visible */
}

.data-grid-header {
    float: right;
}